.container-fluid {
  font-size: 1.35em;
  div {
    text-align: left;
  }

  h2 {
    padding-bottom: 0.3em;
  }
}

.about-content {
  padding-top: 4.3% !important;
}

.responsive-img {
  padding-top: 2em;
}

@media #{$small-and-down}{
  .container-fluid {
    font-size: 1.2em;
  }
}
