<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Aliviate</h5>
        <p class="grey-text text-lighten-4"><%= t('slogan')%></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"><%= t('social_networks') %></h5>
        <ul class="social_networks">
          <li class="social-item"><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
          <li class="social-item"><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
          <li class="social-item"><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></li>
          <li class="social-item"><a href="https://www.pinterest.com" target="_blank"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <%= t('copyright') %>
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
