<div class="container">
  <h2>ALIVIATE</h2>
  <p>
    Aliviate es el nombre del consultorio medico del Dr. Pedro Luis Estrada P.
    es la visión personal de la medicina alternativa y los servicios embebidos
    en la filosofía de las corrientes de pensamiento holistico.
  </p>
  <div class="col s6 m7">
    <h2 class="header">Misión</h2>
    <div class="card horizontal">
      <div class="col s4">
        <div class="card-content">
          <%= image_tag("logo.png", class:"responsive-img")%>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Emprender con el propósito de dar y brindar servicios de atención en salud,
          humanizados. Y poner en sus manos lo mejor de las terapéuticas alternativas,
          con fundamentos científicos o sin ellos, actualizados y personalizados, al
          alcance de todos; bajo la mirada única del proceso de integralidad mente/cuerpo.
          Con énfasis en las medicinas que tradicionalmente el tiempo y su historia avalan
          su accionar y que a la luz de la evidencia consenso o disenso apoye y justifique
          su utilidad.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6 m7">
    <h2 class="header">Visión</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>
            El consultorio tiene la visión de crecer bajo los parámetros actuales de
            legislación y convertirse en una IPS de Salud natural  con proyección Nacional
            e Internacional al servicio de sus usuarios en el año 2015.
          </p>
        </div>
      </div>
      <div class="col s4">
        <div class="card-content">
          <%= image_tag("logo.png", class:"responsive-img")%>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6 m7">
    <h2 class="header">Valores</h2>
    <div class="card horizontal">
      <div class="col s4">
        <div class="card-content">
          <%= image_tag("logo.png", class:"responsive-img")%>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            Declaro que los valores que mueven este contexto medico existencial son los
            mismos que han guiado mi vida: calidez humana inclinada al servicio, ética,
            asertividad, honestidad, buen humor, compromiso, liderazgo, respeto,  sinceridad,
            tranquilidad, autonomía y una alta dosis de paciencia.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6 m7">
    <h2 class="header">Políticas de calidad</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>
            Garantizar la satisfacción de nuestros clientes, brindándoles productos y
            servicios que cumplan las especificaciones técnicas y los requerimientos pactados;
            a través de una buena relación con los proveedores, clientes y un grupo humano
            capacitado y dotado con los recursos necesarios que faciliten el mejoramiento continuo.
          </p>

        </div>
      </div>
      <div class="col s4">
        <div class="card-content">
          <%= image_tag("logo.png", class:"responsive-img")%>
        </div>
      </div>
    </div>
  </div>


</div>
