@import "materialize";
@import "pages/*";

div span.flash_message {
  margin-top: 10px;
  background-color: #5DBB6C;
}

form {
  margin-top: 35px;
}

.error-icon {
  color: red;
}

.error-title {
  font-size: 20px;
  font-weight: bold;
}

.error-message li {
  margin: 10px;
}
