@import "materialize";
@import "pages/*";

div span.flash_message {
  margin-top: 10px;
  background-color: #5DBB6C;
}

form {
  margin-top: 35px;
}

.social_networks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-item {
  float: left;
}

.social_networks .social-item {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 8px;
}
